@import url(root.css);
#root{
    -fx-background-color: -fx-principal-bg-color;
}
.menuSuperior{
    -fx-background-color: -fx-secundario-bg-color;
    -fx-border-color: black;
    -fx-border-width: 4px;
}
#tituloAcciones{
    -fx-background-color: -fx-principal-rs-color;
    -fx-border-color: black;
    -fx-border-width: 4px;
}
.informacionTabla{
    -fx-background-color: -fx-terciario-rs-color;
    -fx-border-color: black;
    -fx-border-width: 4px;
}
.textoTabla{
    -fx-border-color: black;
    -fx-border-width: 4px;
}