.contenedor{
    -fx-border-color: black;
    -fx-border-width: 4px;
}
.botonOpciones{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-background-color: -fx-terciario-rs-color ;
}
#fondo{
    -fx-background-color:-fx-principal-bg-color;
}
.botonInterno{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-background-color: -fx-principal-rs-color ;
}
#blanco{
    -fx-background-color:white;
}
#negro{
    -fx-background-color:-fx-especial;
    -fx-text-fill:-fx-secundario-font-color;
    -fx-border-color: -fx-secundario-font-color;
}
#personalizado{
    -fx-background-color: -fx-secundario-bg-color;
}