#root{
    -fx-background-color: -fx-principal-bg-color;
}
.tituloOpcion{
    -fx-border-color: black;
    -fx-border-width: 0 0 4px 0;
    -fx-background-color: transparent ;
}
.contenedor{
    -fx-border-color: black;
    -fx-border-width: 4px;
}
.tipoBloqueo{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-background-color: transparent;
}
#botonArchivos{
    -fx-background-color: transparent;
}