 @font-face {
            font-family: "Jersey 15";
            src: url("../font/Jersey15-Regular.ttf") format("truetype");
        }
*{
            -fx-principal-bg-color:#ffeecf;
            -fx-secundario-bg-color:#ffc482;
            -fx-principal-rs-color:#65def1;
            -fx-secundario-rs-color:#2b59c3;
            -fx-terciario-rs-color:#04f06a;
            -fx-principal-font-color:#000000;
            -fx-secundario-font-color:#ffffff;
            -fx-font-family: 'Jersey 15';
            -fx-especial:black;
        }

.fuente32{
            -fx-font-size: 32px;
        }
.fuente42{
            -fx-font-size: 42px;
        }
.fuente62{
            -fx-font-size: 62px;
        }.menuSuperior{
            -fx-background-color: -fx-secundario-bg-color;
            -fx-border-color: black;
            -fx-border-width: 4px;
        }
 .tituloApartado{
            -fx-background-color: -fx-principal-rs-color;
            -fx-border-color: black;
            -fx-border-width: 0 4px 4px 4px;
        }.alerta > *{
            -fx-font-size: 22px;
-fx-background-color: -fx-principal-bg-color ;
}